<h3> <%= @song.title %> | <%= @song.url %> | <a href="/song/<%= @song.id %>/edit">Edit</a>
 | <form action="/song/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Over it!">
</form></h3>
